	<div class="hero hero-me">
		<h1 class="strong"><a href="{{config.site.home.url}}" title="Most everyone calls me Jon, except my family&hellip;they still call be Jonathan">Jon(athan) Beebe</a></h1>
		<div>
			<a href="{{config.site.blog.url}}" title="Jon Beebe's Blog">blog</a> &bull;
			<a href="/about-jon-beebe.html" title="About Jon Beebe">about</a> &bull;
			<a href="/jon-beebe-resume.html" title="Jon Beebe's Resume">résumé</a> &bull;
			<a href="http://www.beebeography.com" title="Jon Beebe's Photo Gallery">photography</a> &bull;
			<a href="https://github.com/somethingkindawierd" title="Jon Beebe's Code Portfolio">github</a> &bull;
			<a href="http://twitter.com/bejonbee" title="Jon Beebe on Twitter">twitter</a> &bull;
			<a href="http://stackoverflow.com/users/123781/somethingkindawierd" title="Jon Beebe on stackoverflow.com">so</a>
		</div>
	</div>
