---
layout: default
title: Home
---
  <!--
	  this list is formatted same as .nav, with each p having unique text formatting.
	  this enables the summary list to line-up with the nav list.
  -->
  <ul class="summary">
	{% for post in site.posts %}
	{% if post.tags contains 'test' %}
	{% else %}
	<li><a href="{{post.url}}" title="{{post.title}}" ><h3>{{ post.title }}</h3></a><p>{% if post.summary %}{{ post.summary }}{% else %}{{ post.title }}{% endif %}</p></li>
	{% endif %}
	{% endfor %}
	<li><a href="/jon-beebe-resume.html" title="Jon Beebe's Resume" ><h3>Résumé</h3></a><p>My digital résumé</p></li>
	<li><a href="/about-jon-beebe.html" title="About Jon Beebe" ><h3>About Jon Beebe</h3></a><p>My best attempt at summarizing what keeps me ticking. </p></li>
  </ul>

