---
layout: <%= config.site.layouts.posts %>
title: Recent Posts
isIndex: true
---

{{#withSort pages 'date' dir='desc'}} 
	{{#if data.published}}
    <p class="lead">
			<a href="/blog/{{basename}}.html"> {{data.title }}</a>
		</p>
		{{#if data.description}}
			<p>{{data.description}}</p>
		{{/if}}
		<hr>
	</li> 
	{{/if}}
{{/withSort}}