<!doctype html>
<html>
	<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
		
		<title>Title</title>
		<link rel="stylesheet" media="all" href="/assets/vendor/bootstrap/css/bootstrap.css"/>
		<link rel="stylesheet" media="all" href="/assets/styles/styles.css"/>
		
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
	<body>
	
    <div class="container-fluid">
			{{> hero }}
			<hr>
			{{> page-header page}}
			{{> body  }}
    </div><!-- /.container -->
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.js"></script> 
	</body>
</html>
