---
layout: default.hbs
title: iOS Apps
category: project
summary: iOS Apps created by Jon Beebe
---

{{#markdown}}

# PROCUTX

In collaboration with [Pixel Film Studios](http://www.pixelfilmstudios.com) I helped design and build PROCUTX — an iOS iPad application that allows editors to control Final Cut Pro X on their MAC through an iPad. You can view it on the [Apple iOS App Store here](https://itunes.apple.com/us/app/procutx-for-final-cut-pro-x/id596946635?ls=1&mt=8).

<div class="thumbnail">
	<img class="img-responsive" src="/assets/images/projects/procutx/procutx.ipad.640.1.jpg" />
</div>

PROCUTX included many design challenges, most notably setting up a Bonjour connection between the Mac OSX computer and the iPad. Not only did I have touch create the iOS app, I had to build an OSX Bonjour server & an OSX System Preference Pane for managing the OSX server component.

PROCUTX enjoys a loyal fan base which has contributed greatly to its success and continued growth. Here's one [fan made video I really enjoy](http://www.youtube.com/watch?v=zYE6XegZqpo).

# Vela Player

The [Vela Player](http://www.velaapp.com/app/ "Vela — Hands Free Music") concept is simple:
a pleasant gui wrapping streaming music services such as
RDIO and Rhapsody. Add to this a modern voice-recognition service to enable
voice-assisted exploration of these extensive music libraries.

The challenge came when we were approached with the project after the owner had
already been working with developers for over 1&frac12; years. The app was, at best,
a half-working prototype at that point. My task was to re-build Vela Player in
the shortest time possible, making up for the already lost time.

Our team managed to complete version 1 within 30 days, delivering a working
music player integrating with the RDIO music service, enhanced by Nuance's Dragon
Speech Recognition software.

<div class="row">
	<div class="col-sm-6">
		<img class="thumbnail img-responsive" src="/assets/images/projects/vela-player/iphone-in-hands.jpg" />
	</div>
	<div class="col-sm-6">
		<img class="thumbnail img-responsive" src="/assets/images/projects/vela-player/iphone-in-car.jpg" />
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
		<img class="thumbnail img-responsive" src="/assets/images/projects/vela-player/iphone-mirror-mount.jpg" />
	</div>
	<div class="col-sm-6">
		<img class="thumbnail img-responsive" src="/assets/images/projects/vela-player/3-iphones.jpg" />
	</div>
</div>

To learn more about Vela Player please visit the [app's official site](http://www.velaapp.com/app/ "Vela — Hands Free Music").

# Dreams (working-title)

In collaboration with [Beebe Hargrove](http://www.beebeart.com/) [(@beebeart)](http://twitter.com/beebeart),
Dreams is becoming a beautiful, immersive, full-screen iPad book.

This original story, written and illustrated by Beebe Hargove, is in the early
stages of being brought to life. Each page is fully interactive, allowing children to touch, shake,
blow, and experience the world of the dreamer.

<div class="thumbnail">
	<img class="img-responsive" src="/assets/images/projects/ios-dreams-book/dreams.jpg" />
</div>

I will post more shortly as we continue to develop the app.

{{/markdown}}