---
layout: default.hbs
title: Websites
category: project
summary: Sites & apps living on the web, create by Jon beebe.
---

{{#markdown}}

# Website Creation

Here is a brief list (by no means comprehensive) of the most recent websites I've created.

## Custom web-apps

Each of these projects was a ground-up creation. Some I built on my own, others as part of a team.
Within each I participated in (or completed myself) the database design, building of the framework,
build-out of the M-V-C components, server installation and setup, testing and staging,
and final deployment & maintenance.

<div class="row">
	<div class="col-sm-6">
		<a class="thumbnail">
			<img class="img-responsive" src="/assets/images/projects/websites/296/isaly-group.jpg" />
		</a>
  </div>
  <div class="col-sm-6">
		<a class="thumbnail">
			<img class="img-responsive" src="/assets/images/projects/websites/296/soshopping-achievements.jpg" />
		</a>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<a class="thumbnail" href="/projects/prodori.html" title="Prodori, a jewelry company.">
			<img class="img-responsive" src="/assets/images/projects/websites/624/prodori-shop.jpg" />
		</a>
	</div>
</div>

* * *

## Company Websites

I've created many company/corporate websites, from simple single-page landing sites
to fully customized wordpress installations, with custom themes and custom plugins.

Here are a few of the most recent corporate websites built by Jon beebe.

<div class="row">
	<div class="col-sm-6">
		<a class="thumbnail" href="http://ctriding.com" title="Horseback riding lessons for beginner and intermediate adult and child at Irvine Regional Park.">
			<img class="img-responsive" src="/assets/images/projects/websites/296/ctriding.jpg" />
	  </a>
	</div>
	<div class="col-sm-6">
		<a class="thumbnail" href="http://www.jcoilwell.com/" title="JC Oilwell products, serving the plunger industry with the latest in oilwell plunger technology for over 35 years.">
			<img class="img-responsive" src="/assets/images/projects/websites/296/jc-oil-well.jpg" />
		</a>
	</div>
</div>
	
<div class="row">
	<div class="col-sm-12">
		<a class="thumbnail" href="http://www.alisonigueloptometry.com/" title="Aliso Niguel Optometry.">
			<img class="img-responsive" src="/assets/images/projects/websites/624/aliso-niguel-optometry.jpg" />
		</a>
	</div>
</div>

{{/markdown}}
